@charset "UTF-8";
/* CSS File for Project 4 */

body {
	margin:100px;
	background-color:#fff;
	background-image: url('/images/library.jpg');
	font-family:'Belgrano', sans-serif;
}

header {
	width:100%;
	padding-top:60px;
	overflow:hidden;
	background-image:url(/images/CBBookClubLogo.gif);
	background-repeat:no-repeat;
	height:0px;
}

#pagewrapper {
	width:800px;
	margin:0 auto;
	background-color:#fff;
}

h2, h4, h5 {
	color:#157cef;
}

article {
	padding: 20px
}

/* Main Site Navigation */

nav {
	font-family:'Belgrano', sans-serif;
	font-size:16pt;
	color:#280044;
}

ul li {
	margin:0;
	padding:0;
}

menu {
	width:778px;
}

menu ul {
	list-style:none;
}

menu li {
	display:inline;
}

a:link,
a:visited {
	padding-right:10px;
	color:#423978;
	text-decoration:none;
}

a:hover,
a:active {
	padding-right:10px;
	color:#a94470;
	text-decoration:none;
}

/* Text */

#name {
	font-size:12pt;
	color:#7750cb;
}

#post {
	color:#2a394d;
}

#time {
	color:#6e8097;
	font-size:70%;
	font-style:italic;
}

#welcome {
	font-size:120%;
	padding:50px 0 50px 10px;	
}

#prompt {
	color:#a94470;
	font-size:70%;
	font-style:italic;
}

.error {
	color:red;
}

/* Bookshelf Page Text */

#title {
	font-size:14pt;
	color:#b50159;
	
}

#author {
	font-size:12pt;
	color:#423978;
	font-style:italic;
}

#gpop {
	
}

#member {
	font-size:10pt;
	color:#0097e5;
}

/* Content Boxes */

.content-home{
	width:660px;
	height:200px;
	padding:20px;
	background-image:url(/images/books-image.jpg);
	background-repeat:no-repeat;
	background-position:right;
}

.formcontent {
	width:660px;
	padding:20px 20px 50px 20px;
	background-image:url(/images/books-image.jpg);
	background-repeat:no-repeat;
	background-position:right top;
}

#textbox {
	width:350px;
	height:60px;
	border:2px solid #007cef;
	padding:5px;
	font-size:11pt;
	color:#423978;
}

.content {
	width:780px;
	padding:20px;
	color:#423978;
}

.content a {
	color:#a94470;
}

.content a:hover {
	color:#130753;
}